<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAM3bRQvKXIpYORzLlU0VGIBkWvAO-PVoU</string>
	<key>GCM_SENDER_ID</key>
	<string>397669048805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosyuk.airscreen</string>
	<key>PROJECT_ID</key>
	<string>airscreen-279b6</string>
	<key>STORAGE_BUCKET</key>
	<string>airscreen-279b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397669048805:ios:7a01d8cc2c2777b3734f0c</string>
</dict>
</plist>